.top {
	padding-top: 10px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	font-family:georgia, serif;
	font-style: italic;
	text-align: center;
}
.top img {
	width: 70px;
}
p {
	text-align: center;
	opacity: 0.5;
}
body {
	background-color: #e4fd68;
}